.question-container {
    display: flex;
    flex-flow: wrap;
    margin: auto;
}
.question-template {
    box-sizing: border-box;
    display: inline-block;
    width: 27%;
    max-width: 300px;
    min-height: 250px;
    margin: 3%;
    border-radius: 3px;

    -webkit-box-shadow: -1px 13px 32px -8px rgba(0,0,0,0.7);
    -moz-box-shadow: -1px 13px 32px -8px rgba(0,0,0,0.7);
    box-shadow: -1px 13px 32px -8px rgba(0,0,0,0.7);
}

.question-template,
.question-template * {
    color: rgb(51, 49, 44);
    background-color: rgb(243, 225, 179);
}

.question-template h2 {
    font-size: 1.8em;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 10px;
    padding: 2%;
    padding-left: 17%;
}

.q-form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.q-template-form {
    display: inline-block;
}

.q-template-form label {
    float: left;
    font-style: italic;
    font-size: 1.5em;
    padding-right: 4%;
    padding-left: 4%;
    color:rgb(90, 97, 158);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.q-template-form input {
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 65%;
    margin-bottom: 5%;
    padding: 5px;
    font-size: 1.8em;
    border: none;
    border-radius: 3px;
    background-color: rgb(51, 49, 44);
    color: rgb(209, 157, 230);

    -webkit-box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.8);
}

.answer-submit {
    background-color: rgb(209, 157, 230);
    outline: none;
    border: none;
    border-radius: 3px;
    display: block;
    width: 65%;
    margin: auto;
    margin-bottom: 4%;
    font-weight: 600;

    border-radius: 3px;

    -webkit-box-shadow: 0px 5px 14px -7px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 5px 14px -7px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 14px -7px rgba(0,0,0,0.8);
}

.answer-submit:hover {
    background-color: rgb(221, 188, 235);
}

.answer-submit:active {
    width: 63%;
    -webkit-box-shadow: 0px 5px 9px -7px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 5px 9px -7px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 9px -7px rgba(0,0,0,0.8);
}

.answer-container {
    background-color: rgb(240, 233, 217);
    width: 65%;
    min-height: 70px;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer {
    margin: auto;
    text-align: center;
    background-color: rgb(240, 233, 217);
}